/* test sidebar style */
:root {
  --sidebar-width: 30rem;
}
/* themeable 主题下无法显示背景图片，故需要消除伪类元素 */
.cover:before,
.cover:after {
  content: none;
}

/* themeable 主题下修改 cover 页的头像大小和形状 */
.cover-main img {
  width: 100px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
/* light mode 下，themeable 主题下 cover 页的边界为黑色 */
@media (prefers-color-scheme: light) {
  .cover-main img {
    border: 1px solid #000000;
  }
}

/********************************** Cover ************************************/

/*** Light Mode ***/
@media (prefers-color-scheme: light) {
  :root {
    --cover-heading-color: #000000;
  }
}

/* @font-face { */
/*   font-family: "ComicShannsMonoNerdFontMono-Regular"; */
/*   src: url(/public/ComicShannsMonoNerdFontMono-Regular.otf) format("opentype"); */
/* } */
/**/
/* body { */
/*   font-family: "ComicShannsMonoNerdFontMono-Regular", monospace; */
/* } */
/**/
/* pre, */
/* code { */
/*   font-family: "ComicShannsMonoNerdFontMono-Regular", monospace !important; */
/* } */
